@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Space Grotesk", sans-serif; */
  overflow-x: hidden !important;
  background-color: #fff;

}

/* smooth scroll */

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 25px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 30px;
}

::-webkit-scrollbar:hover {
  background: #fff;
}

img {
  width: 100%;
  height: 100%;
}

nav {
  position: fixed;
  width: 100%;
  height: 80px;
  line-height: 80px;
  background: #ffff;
  transition: 0.3s;
  z-index: 90;
  font-family: "Space Grotesk", sans-serif;
  padding-inline: 25px;
  position: relative;
  -webkit-box-shadow: 0px 0px 4px -1px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 4px -1px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 4px -1px rgba(66, 68, 90, 1);
}

nav::after {
  content: "";
  top: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #00000080;
  position: absolute;


}

nav .navbar-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;

}

nav .nav__logo {
  display: flex;
  align-items: center;
  margin-inline: 20px;

}

nav .nav__logo img {
  width: 30px;
  height: 30px;
  /* padding-inline: 10px; */
}

nav .nav__logo h3 {
  padding-left: 20px;
  font-family: Space Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;

}

.navbar-inner .navbar-menu .nav_menu_list {
  display: flex;
}

.navbar-menu .nav_list {
  list-style: none;

}


.nav_list .nav-link {
  text-decoration: none;
  color: #000;
  /* color: var(--second-color); */
  padding: 15px;
  margin-inline: 15px;
  font-family: Space Grotesk;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;

}

.nav_list .nav-link:hover {
  color: #359EFF;
}

.nav_link.activeLink {
  transition: 0.4s;
}

.nav_list .nav-link button {
  width: 36px;
  height: 36px;
  padding: 8px 9px 9px 8px;
  border-radius: 5px;
  opacity: 0px;
  border: none;
  color: #000;
  font-size: 19px;
}

.hero-container .hero__section {
  background: url(/assests/env-1.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 500px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  justify-content: center;
  display: flex;
  align-items: center;
  padding-inline: 30px;
  margin-inline: 90px;
  margin-top: 30px;
  color: #fff;
  font-family: "Space Grotesk", sans-serif;

}

.hero-container .hero__section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #060C4166;
}

.hero-container .hero__section .hero-text {
  padding-inline: 80px;
}

.hero-container .hero__section .hero-text h1 {
  font-family: Space Grotesk;
  font-size: 50px;
  font-weight: 500;
  line-height: 69.6px;
}

.hero-container .hero__section .hero-text p {
  margin-block: 26px;
  font-family: Space Grotesk;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
}

.hero-container .hero__section .input-secton {

  background: #fff;
  color: #000;
  width: 491px;
  height: 63.53px;
  /* padding: 8.17px 8.52px 7.26px 23px; */
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
  gap: 20px;
}

.hero-container .hero__section .input-secton i {
  font-size: 19px;
}

.hero-container .hero__section .input-secton input {
  border: none;
  width: 100%;
}

.hero-container .hero__section .input-secton input::placeholder {
  font-family: Space Grotesk;
  font-size: 14px;
  font-weight: 400;


}

.hero-container .hero__section .input-secton button {
  border: none;
  width: 127px;
  height: 48px;
  padding: 13px 40px;
  gap: 0px;
  border-radius: 10px;
  opacity: 0px;
  background: #359EFF;
  color: #fff;
  font-family: Space Grotesk;
  font-size: 14px;
  font-weight: 500;
  margin-block: 28px;
}

.hero-container .departments-section {
  margin-top: 36px;
  margin-inline: 90px;
}

.hero-container .departments-section .depart-heading h3 {
  margin-block: 36px;
  font-family: Space Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.84px;
  text-align: left;

}

.hero-container .departments-section .departments .depts-card {
  display: flex;
  align-items: center;
  margin-block: 30px;
  gap: 30px;

}

.hero-container .departments-section .departments .depts-card img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  opacity: 0px;

}