 .aboutPage-container {
  width: 100%;
  padding-inline: 30px;

}

.aboutPage-container .about-page{
  background: url(/assests/env-1.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 186px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  /* justify-contegit nt: center; */
  display: flex;
  align-items: center;
  padding-inline: 30px;
  margin-inline: 60px;
  margin-top: 140px;
  color: #fff;
  font-family: "Space Grotesk", sans-serif;
}

.aboutPage-container .about-page::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #060C4166;
}

.aboutPage-container .about-page .about-text {
  padding-inline: 60px;
  z-index: 1;
  margin-top: 30px;
}

.aboutPage-container .about-page  h1 {
  font-family: Space Grotesk;
  font-size: 35px;
  font-weight: 500;
  line-height: 69.6px;
 }
/* .hero-container .about-page .about-text{
  display: flex;
} */

 .about-page .hero-text h1{
  font-size: 40px;
  font-weight: 500;
  text-align: left;
}

.aboutPage-container .about-page-content{
  padding-inline: 60px;
  margin-block: 40px;
}
.aboutPage-container .about-page-content h3{
  margin-block: 30px;
  font-family: Space Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.84px;
  text-align: left;
}
.aboutPage-container .about-page-content p{
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  color: #322E16;
  text-align: justify;
  
}


@media only screen and (max-width: 900px) {

  .aboutPage-container{
width: 100%;
padding-inline: 10px;
/* margin-inline: 30px; */
}

.aboutPage-container .about-page{
  border-radius: 10px;
  padding-inline: 0px;
  margin-inline: 10px;
  margin-top: 140px;
}


.aboutPage-container .about-page  h1 {
  font-size: 25px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;

 }
.aboutPage-container .about-page .about-text {
  padding-inline: 20px;
  z-index: 1;
  margin-top: 30px;
  width: 100%;
}

.aboutPage-container .about-page-content{
  padding-inline: 10px;
}



}